body {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
    background-color: white;
    margin: 0;
}

.contenedor-informacion {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: darkred;
    padding: 20px 0;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    border-bottom: 2px solid darkred;
}

#left-button, #right-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

#left-button::after {
    content: '\2190';
    font-size: 24px;
}

#right-button::before {
    content: '\2192';
    font-size: 24px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.fight-card {
    margin: 1em; /* Ajusta el margen según sea necesario */
    max-width: 250px; /* Establece el ancho máximo al 100% */
    height: auto;
}

button {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
    position: relative;
    background-color: transparent;
    border: none;
}

button:hover {
    transform: scale(1.1);
}

button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%; /* Asegura que la altura no exceda el 100% */
    margin: 0;
}

p {
    margin: 0;
    text-align: center;
    color: black;
}


