body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #FFF;
    z-index: -2;
}

#contenedor-rankings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    margin-top: 70px;
}

.contenedor-tabla {
    margin: 13px;
}

.tabla-rankings {
    border-collapse: collapse;
    width: 375px;
    background-color: #ffffff;
    overflow: hidden;
}

.tabla-rankings th {
    text-align: left;
    border-bottom: 1px solid #eee;
}

.tabla-rankings td {
    text-align: left;
    padding: 10px;
}

.tabla-rankings a {
    text-decoration: none;
    color: #000;
}

.tabla-rankings img {
    width: auto;
    height: 130px;
    transition: transform 0.3s ease;
    position: relative;
    top: 10px;
    z-index: 0;
}

.tabla-rankings img:hover {
    transform: scale(1.1);
    z-index: -2;
    /* Asegura que la imagen esté detrás del borde */
}

.posicion {
    font-weight: bold;
    padding: 5px;
    width: 5px;
}

.posicion,
.peleador-ranking {
    font-size: 12px;
}

.posicion:hover{
    background-color: #e3e3e3;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

h6 {
    font-size: 15px;
    margin-top: 10px;
    color: #abadb1;
}



h4 {
    font-size: 14px;
    color: #CE2020;
    font-weight: bold;
}

/* Nueva clase para el encabezado del campeonato */
.rankings--athlete--champion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    /* Ajusta el z-index según sea necesario */
    overflow: hidden;
}

.rankings--athlete--champion .info {
    max-width: 50%;
    /* Ajusta el ancho máximo según sea necesario */
}

.rankings--athlete--champion img {
    max-width: 100%;
    /* Ajusta el ancho máximo según sea necesario */
}