body {
    background-color: white;
    margin: 0;
}


h1 {
    color: darkred;
    margin: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 28px; /* Aumenta el tamaño del texto */
    font-family: 'Helvetica Neue Condensed Bold', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    border-bottom: 2px solid darkred; /* Línea inferior */
    margin-top: 80px;
}


#left-button, #right-button {
    position: absolute;
    top: 100px; /* Ajusta la posición vertical superior */
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

#left-button {
    left: 20px; /* Ajusta la posición izquierda */
}

#right-button {
    right: 20px; /* Ajusta la posición derecha */
}

#left-button::before
{
    content: '\2190'; /* Código Unicode para la flecha izquierda */
    font-size: 24px;
    z-index: 2;
}

#right-button::before {
    content: '\2192'; /* Código Unicode para la flecha derecha */
    font-size: 24px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.fight-card {
    margin: 20px;
}

button {
    height: 250px;
    width: 250px;
    transition: transform 0.3s ease;
    position: relative;
}

button:hover {
    transform: scale(1.1);
}

button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    margin: 10px 0 0;
    text-align: center;
    color: black;
}
